@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.6;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
